<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.ejemplo.carlos.proyecto2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/buscarespe1"
        android:label="Mascotas Perdidas"
        android:roundIcon="@drawable/buscarespe1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".menumain"
            android:label="Mascotas Perdidas"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Descripcion" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name=".LogInActivity" />
        <activity
            android:name=".Base"
            android:parentActivityName=".menumain">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".menumain" />
        </activity>
        <activity
            android:name=".Publicados"
            android:parentActivityName=".Base" />
        <activity
            android:name=".SearchActivity"
            android:label="@string/title_activity_search"
            android:parentActivityName=".menumain"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".menumain" />

            <intent-filter>
                <action android:name="android.intent.action.SearchActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".first_layout"
            android:label="@string/title_activity_first_layout"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".Intros.Intro"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity android:name=".Fragments.InfoActivity"></activity>
    </application>

</manifest>